{% extends 'base.html.twig' %}

{% block title %}ComptePartenaire index{% endblock %}

{% block body %}
    <h1>ComptePartenaire index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NumCompte</th>
                <th>Montant</th>
                <th>DateDepot</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for compte_partenaire in compte_partenaires %}
            <tr>
                <td>{{ compte_partenaire.id }}</td>
                <td>{{ compte_partenaire.numCompte }}</td>
                <td>{{ compte_partenaire.montant }}</td>
                <td>{{ compte_partenaire.dateDepot ? compte_partenaire.dateDepot|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('compte_partenaire_show', {'id': compte_partenaire.id}) }}">show</a>
                    <a href="{{ path('compte_partenaire_edit', {'id': compte_partenaire.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('compte_partenaire_new') }}">Create new</a>
{% endblock %}
